.edu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 3rem;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.edu-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .edu-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0 auto;

    img {
      width: 100%;
      display: block;
      object-fit: cover;
      transition: $transition;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .edu-text {
    margin-top: 20px;
    a {
      color: white;
      font-size: 17px;
      font-weight: bold;
      &:hover {
        color: $main-color;
      }
    }
  }
}
